
.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-item {
    padding: 1.1rem;
    border-radius: 25px;
    margin-right: 10%;
    background-color: rgb(43, 149, 255);
    opacity: .8;
}

.nav-text {
    text-decoration: none;
    font-size: 22px;
    color: rgb(27, 58, 85);
}