* {
    display: border-box;
    padding: 0;
    margin: 0;
}


.nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 90%;
}

.nav-item {
    padding: 3rem;
    border-radius: 45px;
    background-color: rgb(43, 149, 255);
    opacity: .8;
}

.nav-text {
    text-decoration: none;
    font-size: 22px;
    color: rgb(27, 58, 85);
}